.card {
    margin-top: 50px;
    width: 180px;
    flex: 0 0 auto;
    position: relative;
}

.card--img {
    border-radius: 10px;
    width: 100%;
}

.card--stats {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300;
    color: #918E9B;
    gap: 2px;
}

.rank, .card--title, .card--price {
    font-size: 12px;
    font-weight: 300;
    color: #222;
    margin: 0;
}

.star-img {
    width: 10px;
    height: 10px;
}

.bold {
    font-weight: bold;
}

.card--title, .card--price {
    margin: 10px 0 0;
}

.card--badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 2px 5px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 12px;
}